@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Prompt", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
